<div class="row">
  <div class="col-md-6 col-md-offset-3">	
    <%= form_for @order do |f| %>
      <h3>Order information:</h3>   
      <%= render 'shared/error_messages' %>   
      <div class="row">
    		<div class="col-sm-3">
      		<%= f.label :international_shipping_fee, "國際運費" %>
      		<%= f.number_field :international_shipping_fee, :step => 0.01 %>
      	</div>
        <div class="col-sm-3">
       	 	<%= f.label :domestic_shipping_fee, "國內運費" %>
        	<%= f.number_field :domestic_shipping_fee, :step => 0.01 %>
       	 </div>
  			<div class="col-sm-3">
       	 <%= f.label :exchange_rate, "匯率" %>
       	 <%= f.number_field :exchange_rate, :step => 0.01 %>
  			</div>
  			<div class="col-sm-3">
        	<%= f.label :price, "售價" %>
        	<%= f.number_field :price, :step => 0.01%>
        </div>
      </div>
      <div class="row">
    		<div class="col-sm-3">
      		<%= f.label :refund, "餘額" %>
      		<%= f.number_field :refund, :step => 0.01 %>
      	</div>
        <div class="col-sm-3">
       	 	<%= f.label :completed_date, "完成日期" %>
        	<%= f.date_field :completed_date %>
       	</div>	
      </div>

      <div class="row">
     		<div class="col-sm-12">
   				<label>賣場:</label>
   				<br/>
  		    <%= f.radio_button :from, Order.description_to_from(Order::FACEBOOK) %> 
    			<%= f.label :from_facebook, Order::FACEBOOK %>
    			&nbsp;
    			<%= f.radio_button :from, Order.description_to_from(Order::PTT) %>
    			<%= f.label :from_ptt, Order::PTT %>
    			&nbsp;
    			<%= f.radio_button :from, Order.description_to_from(Order::SHOPEE) %>
    			<%= f.label :from_shopee, Order::SHOPEE %>
  			</div>
      </div>

      <div class="row">
     		<div class="col-sm-12">
   				<label>狀態:</label>
   				<br/>
  		    <%= f.radio_button :status, Order.description_to_order_status(Order::ORDERED) %> 
    			<%= f.label :ordered, '已下訂' %>
    			&nbsp;
    			<%= f.radio_button :status, Order.description_to_order_status(Order::ARRIVED_US) %>
    			<%= f.label :arrived_us, '已到貨' %>
    			&nbsp;
    			<%= f.radio_button :status, Order.description_to_order_status(Order::SHIPPED) %>
    			<%= f.label :shipped, '已寄台灣' %>
    			&nbsp;
    			<%= f.radio_button :status, Order.description_to_order_status(Order::WAIT_CONFIRMED) %>
    			<%= f.label :wait_confirmed, '等確認' %>  			
    			&nbsp;
    			<%= f.radio_button :status, Order.description_to_order_status(Order::COMPLETED) %>
    			<%= f.label :completed, '完成' %>	
  			</div>
      </div>

      <h3>Customer Information:</h3>  
      
      <div class="row">
        <div class="col-sm-4">
          <%= f.label :customer_first_name, "First Name" %>
          <%= f.text_field :customer_first_name%>
        </div>
         <div class="col-sm-4">
          <%= f.label :customer_last_name, "Last Name" %>
          <%= f.text_field :customer_last_name%>
        </div>
        <div class="col-sm-4">
          <%= f.label :customer_phone, "Phone Number" %>
          <%= f.text_field :customer_phone%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= f.label :customer_address, "Address" %>
          <%= f.text_field :customer_address%>
        </div>
      </div>

      <h3>Item:</h3>
      <div class="row">
        <div class="col-sm-3">
          <%= f.label :brand, "Brand" %>
          <%= f.text_field :brand%>
        </div>
        <div class="col-sm-3">
          <%= f.label :cost, "成本" %>
          <%= f.number_field :cost, :step => 0.01%>
        </div>        
        <div class="col-sm-6">
          <%= f.label :description, "描述" %>
          <%= f.text_field :description %>
        </div>
      </div>

      <h3>User:</h3>
      <div class="row">
        <div class="col-sm-4">
          <%=label_tag 'Login' %>
          <%=text_field :user, :login%>          
        </div>
        <div class="col-sm-4">
          <%=label_tag 'Email' %>
          <%=text_field :user, :email%>          
        </div>
      </div>

      <%= f.submit yield(:btn_name), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>