<% provide(:title, "All Orders") %>
<div class="container">
	<h1>All Orders</h1>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Order ID</th>
				<th>Price</th>
				<th>From</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
				<tr>
					<td><%=link_to order.id, order_path(order) %></td>
					<td><%=order.Price %></td>
					<td><%=Order.from_to_description order.From %></td>
					<td><%=Order.order_status_to_description order.Status %></td>
					<td><%= link_to 'Delete', order, method: :delete, data:{ confirm: "Are you sure?" } %>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate %>
</div>