<% provide(:title, 'New Order') %>
<h1>Create New Order</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<h3>Order information:</h3>
    <%= form_for @order do |f| %>

    	<div class="form-group">
    		<div class="col-sm-3">
      		<%= f.label :InternationalShippingFee, "國際運費" %>
      		<%= f.number_field :InternationalShippingFee, :step => 0.01 %>
      	</div>
	      <div class="col-sm-3">
	     	 	<%= f.label :DomesticShippingFee, "國內運費" %>
	      	<%= f.number_field :DomesticShippingFee, :step => 0.01 %>
	     	 </div>
				<div class="col-sm-3">
	     	 <%= f.label :ExchangeRate, "匯率" %>
	     	 <%= f.number_field :ExchangeRate, :step => 0.01 %>
				</div>
				<div class="col-sm-3">
	      	<%= f.label :Price, "售價" %>
	      	<%= f.number_field :Price, :step => 0.01%>
	      </div>
	      <div class="col-sm-3">
	     	 	<%= f.label :Status, "狀態" %>
	      	<%= f.number_field :Status %>
	     	 </div>
    		<div class="col-sm-3">
      		<%= f.label :Refund, "餘額" %>
      		<%= f.number_field :Refund, :step => 0.01 %>
      	</div>
	      <div class="col-sm-3">
	     	 	<%= f.label :CompletedDate, "完成日期" %>
	      	<%= f.date_field :CompletedDate %>
	     	</div>	
     	</div>   

   		<fieldset class="col-sm-12">
 				<label>賣場:</label>
 				<br/>
		    <%= f.radio_button :From, Order.description_to_from(Order::FACEBOOK) %> 
  			<%= f.label :FromFacebook, Order::FACEBOOK %>
  			&nbsp;
  			<%= f.radio_button :From, Order.description_to_from(Order::PTT) %>
  			<%= f.label :FromPTT, Order::PTT %>
  			&nbsp;
  			<%= f.radio_button :From, Order.description_to_from(Order::SHOP_EE) %>
  			<%= f.label :FromPTT, Order::SHOP_EE %>
			</fieldset>

   		<fieldset class="col-sm-12">
 				<label>狀態:</label>
 				<br/>
		    <%= f.radio_button :Status, 'Ordered' %> 
  			<%= f.label :Ordered, '已下訂' %>
  			&nbsp;
  			<%= f.radio_button :Status, 'ArrivedUS' %>
  			<%= f.label :ArrivedUS, '已到貨' %>
  			&nbsp;
  			<%= f.radio_button :Status, 'Shipped' %>
  			<%= f.label :Shipped, '已寄台灣' %>
  			&nbsp;
  			<%= f.radio_button :Status, 'WaitConfirmed' %>
  			<%= f.label :WaitConfirmed, '等確認' %>  			
  			&nbsp;
  			<%= f.radio_button :Status, 'Completed' %>
  			<%= f.label :Completed, '完成' %>	
			</fieldset>

      <br/>
      <%= f.submit "Create new order", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>