<div class="container jumbotron">
	<h1>Order Information</h1>
	<div class="row">
		<div class="col-md-4">Order ID: <%=@order.id %></div>
		<div class="col-md-4">User ID: <%=@order.user.id %></div>	
	</div>
	<div class="row">	
		<div class="col-md-4">International shipping fee:  <%=@order.international_shipping_fee %></div>
		<div class="col-md-4">Domestic Shipping Fee: <%=@order.domestic_shipping_fee %></div>
	</div>
	<div class="row">
		<div class="col-md-4">Exchange Rate: <%=@order.exchange_rate %></div>
		<div class="col-md-4">Price:  <%=@order.price %></div>
		<div class="col-md-4">From: <%=Order.from_to_description @order.from %></div>
	</div>
	<div class="row">
		<div class="col-md-4">Status: <%=Order.order_status_to_description @order.status %></div>
		<div class="col-md-4">Refund:  <%=@order.refund %></div>
		<div class="col-md-4">Completed Date: <%=@order.completed_date %></div>
	</div>
	<div class="row">
		<div class="col-md-4">Created at: <%=@order.created_at %></div>
		<div class="col-md-4">Updated at:  <%=@order.updated_at %></div>
	</div>
	<br/>
	<div class="row">		
		<div class="col-md-4">
			<%= link_to "Edit Order", edit_order_path(@order), class: "btn btn-primary" %>
		</div>
	</div>
</div>





